$fontFamily: "Gilroy";
$fontSize: 16px;

$minWidth: 320;
$maxWidth: 1440;
$maxWidthContainer: 1270;
$md1: $maxWidthContainer + 15;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #3a3a3a;
$orangeColor: #e89f71;
$grayColor: #898989;
$darkGrayColor: #616161;
